@font-face {
    font-family: 'Palatino';
    src: url('./fonts/Palatino.eot');
    src: url('./fonts/Palatino.eot') format('embedded-opentype'),
         url('./fonts/Palatino.woff2') format('woff2'),
         url('./fonts/Palatino.woff') format('woff'),
         url('./fonts/Palatino.ttf') format('truetype'),
         url('./fonts/Palatino.svg#Palatino') format('svg');
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-Black";
  src: url("./fonts/Montserrat-Black.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Black.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Black.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Black.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url("./fonts/Montserrat-BlackItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-BlackItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-BlackItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-BlackItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-BlackItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-BlackItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("./fonts/Montserrat-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./fonts/Montserrat-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url("./fonts/Montserrat-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-ExtraBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-ExtraBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("./fonts/Montserrat-ExtraLight.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-ExtraLight.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-ExtraLight.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-ExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-ExtraLight.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-ExtraLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: url("./fonts/Montserrat-ExtraLightItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-ExtraLightItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-ExtraLightItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-ExtraLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-ExtraLightItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-Italic";
  src: url("./fonts/Montserrat-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Italic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/Montserrat-Light.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Light.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Light.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Light.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("./fonts/Montserrat-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/Montserrat-Medium.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Medium.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Medium.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("./fonts/Montserrat-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-MediumItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-MediumItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-MediumItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./fonts/Montserrat-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("./fonts/Montserrat-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-SemiBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-Thin";
  src: url("./fonts/Montserrat-Thin.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Thin.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Thin.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Thin.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("./fonts/Montserrat-ThinItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-ThinItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-ThinItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-ThinItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-ThinItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-ThinItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}